<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remember.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5BFACA56527947F836901CEFC75819A9EC6DD8AF</string>
				<key>dateExpires</key>
				<string>13/1/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6U46N8ZU8J.com.petrdragonman.Remember</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.petrdragonman.Remember</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>6U46N8ZU8J</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>6U46N8ZU8J.com.petrdragonman.Remember</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Remember.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>336bb8ad-3f60-47a9-aa7a-94ecccb39aea</string>
				<key>dateExpires</key>
				<string>13/1/2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.petrdragonman.Remember</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6U46N8ZU8J</string>
				<key>name</key>
				<string>Petr Valouch</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
